<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="formulario.css" media="screen">

    <title>Cadastro</title>

</head>

<body>
    <div>
        <h1 id="titulo">Cadastro de DEV</h1>
        <p id="subtitulo">Complete suas informações</p>
        <br>
    </div>
    
    <form>
        <fieldset class="grupo">
            <div class="campo">  
                <label for="nome"><strong>Nome</strong></label>
                <input type="text" name="nome" id="nome" required>
            </div>

            <div class="campo">
                <label for="sobrenome"><strong>Sobrenome</strong></label>
                <input type="text" name="sobrenome" id="sobrenome" required>
            </div>


        </fieldset><br>
        
            <div class="campo">
                <label for="email"><strong>E-mail</strong></label>
                <input type="email" name="email" id="email" required>
            </div><br>

            <div class="campo">
                <label><strong>De qual lado da aplicação você desenvolve?</strong></label>
                <br>
                <label>
                    <input type="radio" name="devweb" value="frontend" checked>Front-end
                </label><br>
                <label>
                    <input type="radio" name="devweb" value="backend">Back-end
                </label><br>
                <label>
                    <input type="radio" name="devweb" value="fullstack">Full-stack
                </label><br>
            </div><br>

            <div class="campo">
                <label for="senioridade"><strong>Senioridade</strong></label><br>
                <select id="senioridade">
                    <option selected disabled value="">Selecione</option>
                    <option>Junior</option>
                    <option>Pleno</option>
                    <option>Sênior</option>
                </select>
            </div><br>

            <fieldset class="grupo">
                <div id="check"> 
                    <label><strong>Selecione as tecnologias que utiliza:</strong></label><br>
                    <input type="checkbox" id="tecnologia" name="tec1" value="HTML">
                    <label for="tec1">HTML</label>
                    <input type="checkbox" id="tecnologia" name="tec2" value="CSS">
                    <label for="tec2">CSS</label>
                    <input type="checkbox" id="tecnologia" name="tec3" value="JS">
                    <label for="tec3">JS</label>
                    <input type="checkbox" id="tecnologia" name="tec1" value="Python">
                    <label for="tec4">Python</label>
                </div>
            </fieldset>

            <br>
            <div class="campo">
                <label for="experiencia"><strong>Conte um pouco da sua experiência:</strong></label>
                <textarea row="6" style="width: 26em" id="experiencia" name="experiencia"></textarea>
            </div>

            <button type="submit" class="botao" onsubmit="">Concluído</button>
    </form>
    
</body>
</html>
